name: Pull Request Stats

on:
  issue_comment:
    types: [created]

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Run pull request stats
        uses: flowwer-dev/pull-request-stats@master
        with:
          repositories: "Venkadeshkissflow/pr-stats-data"
          webhook: "https://connect.pabbly.com/workflow/sendwebhookdata/IjU3NjUwNTZiMDYzMzA0M2Q1MjZhNTUzYzUxM2Ei_pc"
          # webhook: ${{ secrets.WEBHOOK_URL }} You may want to store this value as a secret.
